process/CMakeLists.txt.user
process/CMakeCache.txt
process/CMakeFiles
process/CMakeScripts
process/Testing
process/Makefile
process/cmake_install.cmake
process/install_manifest.txt
process/compile_commands.json
process/CTestTestfile.cmake
process/_deps
process/CMakeUserPresets.json

# 以下是个人定义
process/build
.vscode
process/3rd_party/*
process/!3rd_party/占位文件，存放第三方文件
process/source/table/*
process/!3rd_party/占位文件，该文件存放excel